.main
  display: flex
  flex-direction: column
  .main-title-box
    display: flex
    flex-direction: column
    gap: 50px
    background-color: #052b03
    padding: 90px 120px
    .main-title
      display: flex
      margin: 0
      font-size: 62px
      font-style: italic
      color: #FFC1FF
    .main-subposition
      display: flex
      flex-direction: column
      gap: 25px
      align-items: start
    .main-subtitle
      margin: 0
      color: #FFC1FF
    .main-button
      font-size: 14px
      width: 300px
      height: 30px
      color: #fff
      background-color: #5f0f5f
      border-radius: 5px
      border: 1px solid #C393F3
      cursor: pointer
    .main-button:hover
      opacity: .7
      border: 1px solid #e239e2
  .main-tech--block
    background-color: #1c461a
    padding: 40px 120px
  .main-tech-title
    font-weight: normal
    font-size: 22px
    text-align: center
    color: #fff
    padding-bottom: 30px
  .main-tech
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
    gap: 25px
    .main-tech-cell
      text-align: center
      list-style: none
      padding: 10px
      border: 1px solid #C393F3
      border-radius: 5px
      background-color: #5f0f5f
      color: #fff
  .main-calc
    background-color: #fff
    margin: 60px 0
    padding: 20px 120px
    border-top: 1px solid #1c461a
    border-bottom: 1px solid #1c461a
  .main-calc-list
    display: flex
    align-items: center
    justify-content: space-between
    .main-calc-cell
      text-decoration: none
      background-color: #1c461a
      list-style: none
      padding: 10px
      text-align: center
      width: 300px
      color: #fff
      font-style: oblique
      border-radius: 5px
    .main-calc-cell:hover
      cursor: pointer
      opacity: .9
