.division
  display: flex
  align-items: center
  justify-content: center
  padding: 40px 0
  background-color: #1c461a
  min-height: 61vh
  .division-container
    display: flex
    justify-content: center
    align-items: center
    width: 60%
    background-color: #57305c
    border-radius: 10px
    border: 1px solid #C393F3
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2)
  .division-form
    display: flex
    flex-direction: column
    gap: 10px
    padding: 30px
    .division-button
      width: 300px
      height: 50px
      font-weight: normal
      border-radius: 5px
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2)
      cursor: pointer
      font-size: 16px
      line-height: 18.5px
      background-color: #a35aec
      border: 3px solid #501a86
      margin: 10px 0
      width: 100%
      color: #fff
    .division-button:hover
      opacity: .7
    .division-label
      border-bottom: 1px solid grey
    .division-label:last-of-type
      border: none
    .division-input
      box-sizing: border-box
      height: 26px
      font-size: 16px
      line-height: 24px
      background-color: #a35aec
      cursor: pointer
      border-radius: 5px
      border: 1px solid #137430
      padding: 2px
      width: 100%
      color: #fff
      box-shadow: 0px 2px 3px 2px rgba(34, 60, 80, 0.2)
    .division-input:focus
      outline: 2px solid #137430
    .division-input:hover
      opacity: .7
      outline: 2px solid #137430
    .division-title
      text-align: center
      font-style: italic
      color: #fff
      font-size: 20px
      padding-bottom: 30px
      font-weight: normal
    .division-label
      padding-bottom: 10px
      .division-text
        color: #fff
        font-size: 16px
        line-height: 18.5px
        font-weight: 400
        padding-bottom: 6px
    .division-result
      color: #fff
