.division
  display: flex
  align-items: center
  justify-content: center
  padding: 30px 0
  background-color: #E6E3E3
  .division-container
    display: flex
    justify-content: center
    align-items: center
    width: 85%
    background-color: #A6A6A6
    border-radius: 30px
    border: 3px solid #C393F3
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2)
  .division-form
    display: flex
    flex-direction: column
    gap: 20px
    padding: 30px
    .division-button
      width: 300px
      height: 30px
      font-weight: normal
      border-radius: 10px
      box-shadow: none
      cursor: pointer
      font-size: 16px
      line-height: 18.5px
      background-color: grey
    .division-input
      height: 22px
      font-size: 16px
      line-height: 24px
      background-color: grey
      border: none
      cursor: pointer
      border-radius: 10px
    .division-input::focus
      border: 3px solid #C393F3
    .division-title
      font-size: 20px
      font-weight: normal
    .division-label
      padding-bottom: 10px
      .division-text
        font-size: 16px
        line-height: 18.5px
        font-weight: 400
