.results
  display: flex
  justify-content: center
  align-items: center
  background-color: #E6E3E3
  .results-container
    width: 75%
    padding: 40px 0
    .results-title
      font-size: 18px
      font-weight: normal
      padding-bottom: 15px
      text-align: center
    .results-table
      background-color: #A6A6A6
      padding: 10px
      border-radius: 15px
      .results-list
        list-style: none
        .results-cell
          text-decoration: none
          border: 1px solid black
          padding: 5px
