.results
  display: flex

  justify-content: center
  // align-items: center
  padding: 30px 0
  background-color: #052b03
  min-height: 78vh
  .results-title
    font-size: 18px
    font-weight: normal
    padding-bottom: 15px
  .results-table
    margin: 0 20px
    border-collapse: collapse
    background-color: #57305c
    border: 2px solid #a35aec
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2)
    .results-caption
      caption-side: top
      text-align: left
      padding: 10px 0
      font-size: 14px
      color: #fff
    .results-cell
      border: 1px solid #a35aec
      padding: 8px
      .results-subtitle
        color: #fff
        font-size: 20px
        font-weight: normal
        border: 1px solid #a35aec
        text-align: start
        padding: 10px 10px
      .results-text
        font-size: 14px
        font-weight: normal
        border: 1px solid #a35aec
        color: #fff
        text-align: start
        padding: 5px 15px
